<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<!-- bootstrap-css -->
	<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">


</head>
<body>    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Checkout</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}<br>
                    <input type="submit" class="btn btn-primary" value="Submit order">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Your Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.units }}x {{ item.unitprice }}
                        <span>Kshs. {{ item.totprice }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total Cost: kshs. {{ cart.get_totprice }}</li>
                </ul>

            </div>
        </div>
    </div>

</body>
</html>